{#
/**
 * @file
 * Teaser Style: Large Item.
 */
#}

{%
  set article_classes =
  [
    'teaser',
    'teaser-lg--bordered',
    'teaser--item',
    'teaser--item--large',
    'align-items-center',
    node.teaser_highlighted.getString() ? 'is--highlighted',
  ]
%}

{# Teaser Markup #}
{# ============= #}
<article{{ attributes.addClass(article_classes) }}>

  {# == Media == #}
  {# =========== #}
  <div class="teaser__media">
    <div class="relative">
      {% if pd.article.media_contained.html %}
        <div class="teaser__media-icons">
          {{ pd.article.media_contained.html|raw }}
        </div>
      {% endif %}
      <div class="image teaser__image">
        <a href="{{ url }}">
          {{ content.field_teaser_media }}
        </a>
      </div>
    </div>
  </div>

  <div{{ content_attributes.addClass('teaser__content') }}>

    <header>
      {# == Channel == #}
      {# ================== #}
      {% if content.field_channel.0 %}
        <div class="channel channel--bordered teaser__channel">
          {{ content.field_channel }}
        </div>
      {% endif %}

      {# == Teaser title == #}
      {# ================== #}
      <h2 class="teaser__headline">
        <a href="{{ url }}">{{ label }}</a>
      </h2>
    </header>

    {# == Meta (author info) == #}
    {# ======================== #}
    <footer class="teaser__authored">
      {% if pd.teaser.show_post_date %}
        <span class="date">{{ date }}</span>
      {% endif %}

      {% if pd.teaser.show_author_info %}
        , <span class="author">{{ 'by'|t }} {{ author_name }}</span>
      {% endif %}
    </footer>

    {# == Teaser text (content) == #}
    {# =========================== #}
    <div class="teaser__body">
      {{ content|without('field_teaser_media', 'field_channel') }}
    </div>

    {# == Read more link == #}
    {# ==================== #}
    <div class="button teaser__link">
      <a href="{{ url }}">
        {{ 'Read more'|t }} <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</article>
