{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{{ attach_library('em/maintenance-page') }}


<div class="d-flex align-items-center vh-100">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">

        <div class="maintenance-wrapper">
          <div class="text-center">
            <img src="{{ url('<front>') }}{{ pd.logo.dark}}" alt="" class="img-fluid logo-dark">
            {% if title %}<h1>{{ title }}</h1>{% endif %}
            <div class="small">{{ page.content }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>{# /.layout-container #}

</div>
