<a href="{{ url('<front>') }}" class="logo" title="{{ 'Home'|t }}">
  <img src="{{ pd.base_path }}{{ pd.logo.light }}" alt="" class="img-fluid logo-light">
  <img src="{{ pd.base_path }}{{ pd.logo.dark}}" alt="" class="img-fluid logo-dark">
</a>
